<h2>Players are now doing Battle</h2>
Player 1 is <%= @player_1 %><br><br>
Player 2 is <%= @player_2 %><br><br>

<%= @player_1 %>'s hit points : <%= @player_1_hit_points %><br><br>
<%= @player_2 %>'s hit points : <%= @player_2_hit_points %><br><br>
<a href="/attack">Attack</a><br><br>
